@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

/*
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

main {
  height: 100vh;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  background-color: hsl(185, 41%, 84%);
  position: relative;
  flex-direction: column;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.logo {
  margin-bottom: 8rem;
}

.container {
  background-color: hsl(0, 0%, 100%);
  border-radius: 16px;
  box-shadow: 0 8px 16px hsla(183, 100%, 15%, 0.15);
  padding: 4.8rem;
  gap: 3.2rem;
}

.label {
  display: flex;
  margin-bottom: 0.4rem;
  font-size: 1.4rem;
  color: hsl(186, 14%, 43%);
  cursor: default;
}

label span {
  margin-left: auto;
  color: #c92a2a;
}

.input {
  font-family: "Space Mono", monospace;
  font-size: 2rem;
  color: hsl(183, 100%, 15%);
  text-align: right;
  border: none;
  width: 100%;
  height: 3.8rem;
  padding: 1.2rem;
  background-color: hsl(189, 41%, 97%);
  border-radius: 4px;
}

.input::placeholder {
  color: hsl(184, 14%, 56%);
}

.input-invalid:focus-visible {
  outline: 2px solid #c92a2a !important;
}

.left button {
  height: 4rem;
  font-family: "Space Mono", monospace;
  font-size: 2rem;
  border: none;
  border-radius: 4px;
  background-color: hsl(183, 100%, 15%);
  color: hsl(0, 0%, 100%);
}

.left button:hover {
  background-color: hsl(185, 41%, 84%);
  color: hsl(183, 100%, 15%);
  cursor: pointer;
}

.custom-tip {
  height: 4rem;
  width: 100%;
  font-family: "Space Mono", monospace;
  font-size: 2rem;
  color: hsl(183, 100%, 15%);
  text-align: right;
  border: none;
  background-color: hsl(189, 41%, 97%);
  border-radius: 4px;
  padding: 0.8rem;
}

.custom-tip::placeholder {
  text-align: center;
}

.tips {
  gap: 1.2rem;
}

.custom-tip:focus-visible,
.input:focus-visible {
  caret-color: hsl(172, 67%, 45%);
  outline: 2px solid hsl(172, 67%, 45%);
}

.right {
  flex-direction: column;
  gap: 1.6rem;
  background-color: hsl(183, 100%, 15%);
  border-radius: 8px;
  padding: 3.6rem;
}

.result-container {
  align-items: center;
  justify-content: space-between;
}

.result-name {
  display: flex;
  flex-direction: column;
  color: hsl(0, 0%, 100%);
  font-size: 1.4rem;
}

.result-name span {
  color: hsl(186, 14%, 43%);
  font-size: 1.2rem;
}

.result-price {
  font-size: 3.6rem;
  color: hsl(172, 67%, 45%);
}

.reset {
  border: none;
  font-family: "Space Mono", monospace;
  background-color: hsl(172, 67%, 45%);
  padding: 0.8rem;
  border-radius: 4px;
  margin-top: auto;
}

.reset:hover {
  cursor: pointer;
  background-color: hsl(185, 41%, 84%);
}

.selected {
  color: hsl(183, 100%, 15%) !important;
  background-color: hsl(172, 67%, 45%) !important;
}

.hidden {
  display: none;
}
