@media (max-width: 28em) {
  html {
    font-size: 60%;
  }

  main {
    justify-content: space-between !important;
    gap: 2.4rem;
  }

  .logo {
    transform: translateY(100%);
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .left {
    padding-bottom: 3.6rem;
  }

  .tips {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 23em) {
  html {
    font-size: 55%;
  }

  .logo {
    transform: translateY(110%);
  }
}
